* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #e7eae8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.box {
    width: 450px;
}

.box .logo {
    background-color: #f1f1f1;
    padding-top: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -1px 5px #d4d4d4;

}

.box .logo img {
    width: 40%;
    border-radius: 100%;
    margin-bottom: 16px;
}

.box .logo small {
    color: #ae6449;
}

.box .logo .wave path {
    fill: #011b3b;
}

.box .description {
    background-color: #011b3b;
    padding: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 1px 5px #d4d4d4;
}

.box .description p {
    text-align: center;
    color: #fde3df;
    margin-bottom: 50px;
}

.box .description .social {
    display: flex;
    justify-content: space-around;
}

.box .description .social a svg {
    stroke: #e1bfb7;
    transition: stroke .3s;
}

.box .description .social a:hover svg {
    stroke: #ffd7cf;
}

.box .description .social .feather-twitter, .feather-github {
    fill: #e1bfb7;
}
